body {
    text-align: center;
    font-family: Arial;
}
button {
    cursor: pointer;
}
.title {
    font-size: 3rem;
    font-weight: bold;
}
.block {
    min-width: 480px;
    border: 1px solid transparent;
    border-radius: 25px;
    padding: 50px 0;
    box-shadow: 1px 1px 10px lightsteelblue;
}
#input-ele {
    width: 250px;
    height: 25px;
    border-width: 3px;
    border-style: solid;
    border-radius: 8px;
    border-color: aquamarine;
    padding-left: 0.5rem;
    margin-right: 1.2rem;
}
#input-ele::placeholder {
    font-size: 1rem;
    font-weight: bold;
}
.date-input-element {
    width: 150px;
    height: 27px;
    border-width: 3px;
    border-style: solid;
    border-radius: 8px;
    border-color: lightcoral;
    margin-right: 1.2rem;
}

.add-btn {
    border: none;
    padding: 0.5rem 1.8rem;
    font-size: 1rem;
    border-radius: 0.8rem;
    background-color: lightgreen;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}
.div-ele {
    width: 450px;
    border: 1px solid transparent;
    border-radius: 25px;
    padding: 25px 0;
    font-size: 1.5rem;
    box-shadow: 1px 1px 10px lightsteelblue;
    margin-bottom: 1rem;
} 
.completed-btn {
    border: none;
    padding: 0.8rem 1.2rem;
    font-size: 0.8rem;
    border-radius: 0.8rem;
    background-color: lightgreen;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-right: 1rem;
}
.delete-btn {
    border: none;
    padding: 0.8rem 1.2rem;
    font-size: 0.8rem;
    border-radius: 0.8rem;
    background-color: rgb(131, 1, 1);
    color: rgb(255, 255, 255);
    font-weight: bold;
}
.completed {
    text-decoration: line-through;
}